.newOrder{
	.width();
	margin-top: 50px;
	padding: 20px 0;
	background-color: rgba(0, 0, 0, 0.08);
	text-align: center;
}

	.newOrder__btn{
		.btn();
		background-color: transparent;
		box-shadow: none;
		color: #5471d2;
		&:hover, &:active{
			background-color: transparent;
			color: #5471d2;
		}
		font-size: 22px;
		@m: 15px;
		margin-left: @m;
		margin-right: @m;
		width: auto;
		position: relative;
		&:before{
			content: 'add_circle';
			display: block;
			position: absolute;
			.icon;
			top: 12px;
			left: -15px;
		}
	}