@mainColor: #0d47a1;
@minWidth: 90%;
@maxWidth: 1366px;

.width()
{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	@media(min-width: 1570px)
	{
		width: 1366px;
	}
}

.btn()
{
	display: inline-block;
	padding: 8px 15px;
	line-height: 1.5;
	text-align: center;
	border-radius: 2px;
	color: white;
	background-color: @mainColor;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
				0 3px 1px -2px rgba(0,0,0,.2),
				0 1px 5px 0 rgba(0,0,0,.12);
	cursor: pointer;
	transition: 0.2s ease;
	&:hover{
		background-color: lighten(@mainColor, 10%);
	}
	&:active{
		background-color: @mainColor;
	}
}

html,
body{
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.title{
	margin-top: 70px;
	margin-bottom: 40px;
	font-size: 26px;
	font-weight: normal;
	text-align: center;
	margin: 0 auto;
}


.wait {
	margin: 0 auto;
	text-align: center;
}

@import './fonts.less';
@import './reset.less';
@import './footer';