/*-------*/
/* Icons */
/*-------*/
	@font-face{
		font-family: 'Material Icons';
		font-style: normal;
		font-weight: 400;
		src: url(/font/Icons/Icons.woff2) format('woff2');
	}
	.icon{
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		display: inline-block;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
		-webkit-font-feature-settings: 'liga';
		-webkit-font-smoothing: antialiased;
	}

/*--------*/
/* Roboto */
/*--------*/
	/* Normal */
	@font-face{
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 900;
		src: url(/font/Roboto/Black.ttf) format('truetype');
	}
	@font-face{
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		src: url(/font/Roboto/Bold.ttf) format('truetype');
	}
	@font-face{
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 500;
		src: url(/font/Roboto/Medium.ttf) format('truetype');
	}
	@font-face{
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		src: url(/font/Roboto/Regular.ttf) format('truetype');
	}
	@font-face{
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 300;
		src: url(/font/Roboto/Light.ttf) format('truetype');
	}
	@font-face{
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 100;
		src: url(/font/Roboto/Thin.ttf) format('truetype');
	}

	/* Italic */
	@font-face{
		font-family: 'Roboto';
		font-style: italic;
		font-weight: 900;
		src: url(/font/Roboto/BlackItalic.ttf) format('truetype');
	}
	@font-face{
		font-family: 'Roboto';
		font-style: italic;
		font-weight: 700;
		src: url(/font/Roboto/BoldItalic.ttf) format('truetype');
	}
	@font-face{
		font-family: 'Roboto';
		font-style: italic;
		font-weight: 500;
		src: url(/font/Roboto/MediumItalic.ttf) format('truetype');
	}
	@font-face{
		font-family: 'Roboto';
		font-style: italic;
		font-weight: 400;
		src: url(/font/Roboto/Italic.ttf) format('truetype');
	}
	@font-face{
		font-family: 'Roboto';
		font-style: italic;
		font-weight: 300;
		src: url(/font/Roboto/LightItalic.ttf) format('truetype');
	}
	@font-face{
		font-family: 'Roboto';
		font-style: italic;
		font-weight: 100;
		src: url(/font/Roboto/ThinItalic.ttf) format('truetype');
	}

/*------------------*/
/* Roboto-Condensed */
/*------------------*/
	/* Normal */
	@font-face{
		font-family: 'Roboto-Condensed';
		font-style: normal;
		font-weight: 700;
		src: url(/font/Roboto/Condensed-Bold.ttf) format('truetype');
	}
	@font-face{
		font-family: 'Roboto-Condensed';
		font-style: normal;
		font-weight: 400;
		src: url(/font/Roboto/Condensed-Regular.ttf) format('truetype');
	}
	@font-face{
		font-family: 'Roboto-Condensed';
		font-style: normal;
		font-weight: 300;
		src: url(/font/Roboto/Condensed-Light.ttf) format('truetype');
	}

	/* Italic */
	@font-face{
		font-family: 'Roboto-Condensed';
		font-style: italic;
		font-weight: 700;
		src: url(/font/Roboto/Condensed-BoldItalic.ttf) format('truetype');
	}
	@font-face{
		font-family: 'Roboto-Condensed';
		font-style: italic;
		font-weight: 400;
		src: url(/font/Roboto/Condensed-RegularItalic.ttf) format('truetype');
	}
	@font-face{
		font-family: 'Roboto-Condensed';
		font-style: italic;
		font-weight: 300;
		src: url(/font/Roboto/Condensed-LightItalic.ttf) format('truetype');
	}