// Normalizes or resets all default css styles

// Common
	*{
		margin: 0;
		padding: 0;
		cursor: default;
	}
// Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS
	html{
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		line-height: 1.15;// Correct the line height in all browsers
		box-sizing: border-box;
	}
	*, *:before, *:after{
		box-sizing: inherit;
	}
// Link
	a{
		-webkit-text-decoration-skip: objects;// Remove gaps in links underline in iOS 8+ and Safari 8+
		text-decoration: none;
		background-color: transparent;
		color: inherit;
		cursor: pointer;
	}
// Buttons
	button,
	html [type="button"],
	[type="submit"],
	[type="reset"],
	[type="file"],
	::-webkit-file-upload-button{
		overflow: visible;
		border: none;
		font: inherit;
		line-height: inherit;
		text-transform: none;
		text-align: center;
		outline: none;
		background-color: transparent;
		color: inherit;
		cursor: pointer;
		-webkit-appearance: button;	// Correct the inability to style clickable types in iOS and Safari
		-webkit-user-select: none;	/* Chrome all / Safari all */
		-moz-user-select: none;		/* Firefox all */
		-ms-user-select: none;		/* IE 10+ */
		user-select: none;			/* Likely future */
	}
	button,
	html [type="button"],
	[type="submit"],
	[type="reset"],
	[type="file"]{
		*{
			cursor: inherit;
		}
	}
	button::-moz-focus-inner,
	[type="button"]::-moz-focus-inner,
	[type="reset"]::-moz-focus-inner,
	[type="submit"]::-moz-focus-inner{
		border-style: none;
	}
	button:-moz-focusring,
	[type="button"]:-moz-focusring,
	[type="reset"]:-moz-focusring,
	[type="submit"]:-moz-focusring{
		outline: none;
	}
	button:disabled *{
		cursor: default !important;
	}
// Inputs
	[hidden]{
		display: none;
	}
	[type="text"],
	[type="password"],
	[type="search"],
	[type="number"],
	textarea{
		border: none;
		outline: none;
		font: inherit;
		cursor: text;
	}
	textarea{
		line-height: inherit;
		overflow: auto;
	}
	[type="number"]::-webkit-inner-spin-button,
	[type="number"]::-webkit-outer-spin-button{
		height: auto;// Correct the cursor style of increment and decrement buttons in Chrome
	}
	[type="search"]::-webkit-search-cancel-button,
	[type="search"]::-webkit-search-decoration{
		-webkit-appearance: none;// Remove the inner padding and cancel buttons in Chrome and Safari on macOS
	}
	[type="search"]{
		-webkit-appearance: textfield;// Correct the odd appearance in Chrome and Safari
	}
// Select
	select{
		font: inherit;
		line-height: inherit;
		outline: none;
		text-transform: none;// Remove the inheritance of text transform in Edge, Firefox, and IE
		cursor: pointer;
	}
	optgroup{
		// Change the font styles in all browsers
		font: inherit;
		line-height: inherit;
	}
// Img
	img{
		border-style: none;
	}
// <i>, because I use it for icons
	i{
		display: inline-block;
		font-style: normal;
	}
// Sub & sup
	// Prevent `sub` and `sup` elements from affecting the line height in all browsers
	sub,
	sup{
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}
	sub{
		bottom: -0.25em;
	}
	sup{
		top: -0.5em;
	}
// Progress
	progress{
		display: inline-block;
		vertical-align: baseline;// Add the correct vertical alignment in Chrome, Firefox, and Opera
	}
// Hr
	hr{
		height: 0;// Add the correct display in iOS 4-7
		overflow: visible;// Show the overflow in Edge
	}
// Abbreviation
	abbr[title]{
		border: none;
		text-decoration: none;
	}
// SVG
	svg:not(:root){
		overflow: hidden;// Hide the overflow in IE
	}
// Mark
	mark{
		background-color: transparent;
		color: inherit;
	}
// Legend
	legend{
		// Correct the text wrapping in Edge and IE
		display: table;
		max-width: 100%;
		white-space: normal;
		color: inherit;
	}
// Titles
	h1, h2, h3, h4, h5, h6{
		font-size: 1em;// Correct the font size
	}
// Code
	pre,
	code,
	kbd,
	samp{
		font-family: monospace, monospace;// Correct the inheritance and scaling of font size in all browsers
		font-size: 1em;// Correct the font size
	}
// Definition
	dfn{
		font-style: italic;// Add the correct font style in Android 4.3-
	}
// Audio
	audio:not([controls]){
		height: 0;// Add the correct display in iOS 4-7
	}
// <small>
	small{
		font-size: 80%;// Add the correct font size in all browsers
	}
// <b>, <strong>
	b, strong{
		font-weight: inherit;// Prevent the duplicate application of `bolder` by the next rule in Safari 6
	}
	b, strong{
		font-weight: bolder;// Add the correct font weight in Chrome, Edge, and Safari
	}
// For IE
	article,
	aside,
	footer,
	header,
	nav,
	section,
	figcaption,
	figure,
	main,
	details,
	menu{
		display: block;			// Add the correct display in IE 9-
	}
	audio,
	video,
	canvas{
		display: inline-block;	// Add the correct display in IE 9-
	}
	summary{
		display: list-item;		// Add the correct display in all browsers
	}
	template,
	audio:not([controls]){
		display: none;			// Add the correct display in IE
	}