.form{
	margin: 0 auto;
	width: 700px !important;
	@media(max-width: 750px)
	{
		width: 90% !important;
	}
}

	.form__title{
		text-align: center;
		font-size: 24px;
		margin-top: 50px;
		margin-bottom: 30px;
	}

	.form__group{
		font-size: 16px;
		width: 100%;
		border: none;
		padding-left: 20px;
		@media(max-width: 550px)
		{
			padding-left: 0;
		}
	}

		.form__legend{
			position: relative;
			margin-left: -20px;
			font-size: 20px;
			padding-top: 35px;
			margin-bottom: 35px;
			@media(max-width: 550px)
			{
				margin-left: 0;
			}
		}

		.form__line{
			margin-bottom: 15px;
			&:before,
			&:after{
				content: '';
				display: table;
				clear: both;
			}
		}

			.form__span{
				float: left;
				@media(max-width: 750px)
				{
					float: none;
					display: block;
					margin-bottom: 5px;
				}
				@media(max-width: 550px)
				{
					width: 90%;
					margin-left: auto;
					margin-right: auto;
				}
			}
				.form__span_desc{
					float: none;
					display: block;
					margin-bottom: 15px;
				}
				.form__span_branch{
					float: none;
					margin-right: 100px;
				}

			.form__field{
				float: right;
				width: 300px;
				border-radius: 2px;
				padding: 5px 15px;
				border: 1px solid #bfcbd9;
				@media(max-width: 750px)
				{
					float: none;
					display: block;
				}
				@media(max-width: 550px)
				{
					width: 90%;
					margin-left: auto;
					margin-right: auto;
				}
			}

				.form__field_count{
					width: 150px;
					@media(max-width: 750px)
					{
						display: inline-block;
					}
					@media(max-width: 550px)
					{
						display: block;
						margin: auto;
						width: 90%;
					}
				}
				.form__field_units{
					width: 135px;
					margin-left: 15px;
					@media(max-width: 750px)
					{
						display: inline-block;
						margin-left: 0;
						margin-right: 10px;
					}
					@media(max-width: 550px)
					{
						margin-left: 15px;
					}
					@media(max-width: 550px)
					{
						display: block;
						margin: auto;
						width: 90%;
						margin-bottom: 10px;
					}
				}

			.form__area{
				display: block;
				width: 100%;
				border-radius: 2px;
				padding: 5px 15px;
				border: 1px solid #bfcbd9;
				resize:	vertical;
				min-height: 150px;
			}


.form__submit{
	margin-top: 90px;
	display: inline-block;
	@m: 15px;
	margin-left: @m;
	margin-right: @m;
	min-width: 210px;
	padding: 8px 15px;
	line-height: 1.5;
	text-align: center;
	border-radius: 2px;
	color: white;
	background-color: @mainColor;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
				0 3px 1px -2px rgba(0,0,0,.2),
				0 1px 5px 0 rgba(0,0,0,.12);
	cursor: pointer;
	font-size: 20px;
	@media(max-width: 550px)
	{
		display: block;
		width: 230px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		&:first-child{
			margin-top: 70px;
		}
	}
}

.form__files{
	margin-top: 25px;
}
	
	.form__flabel{
		font-size: 16px;
		display: inline-block;
		margin-right: 85px;
		@media(max-width: 750px)
		{
			display: block;
			margin-bottom: 10px;
			padding-left: 20px;
		}
	}

	.form__addFile{
		vertical-align: top;
		display: inline-block;
		@m: 15px;
		margin-left: @m;
		margin-right: @m;
		padding: 5px 10px;
		line-height: 1.5;
		text-align: center;
		border-radius: 2px;
		color: white;
		background-color: @mainColor;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
					0 3px 1px -2px rgba(0,0,0,.2),
					0 1px 5px 0 rgba(0,0,0,.12);
		cursor: pointer;
		font-size: 16px;
		@media(max-width: 750px)
		{
			margin-left: 70px;
		}
		@media(max-width: 370px)
		{
			display: block;
			margin: 0 auto;
		}
	}

.form__lognText{
	width: 300px;
}

.form__submit_temp{
	background-color: fadeout(@mainColor, 30%);
}