.header{
	@p: 35px;
	padding-top: @p;
	padding-bottom: @p;
	background-color: @mainColor;
}

	.header__row{
		position: relative;
		&:before,
		&:after{
			content: '';
			display: table;
			clear: both;
		}
	}

		.header__logo{
			float: left;
			margin-left: 80px;
			font-size: 20px;
			color: white;
			@media(max-width: 450px)
			{
				display: none;
			}
		}

		.header__nav{
			float: right;
			margin-right: 40px;
		}

			.header__link{
				@p: 24px;
				padding-left: @p;
				padding-right: @p;
				font-size: 20px;
				color: white;
			}
			.header__link_info{
				position: absolute;
				left: 50%;
				margin-left: -162.115px;

				transition: 0.2s;
				&:hover{
					color: darken(white, 20%);
				}
				&:after{
					content: '';
					display: block;
					position: absolute;
					left: 8%;
					height: 1px;
					width: 85%;
					background-color: white;
					bottom: -5px;
				}
			}
			.header__link_profile{
				font-size: 16px;
				display: inline-block;
				position: relative;
				@color: rgba(255, 255, 255, .2);
				//background-color: @color;
				padding: 3px 30px 3px 10px;
				border-radius: 2px;
				margin-right: 50px;
				&:after{
					content: '';
					display: block;
					position: absolute;
					@s: 42px;
					width: @s;
					height: @s;
					background-color: white;
					border-radius: 50%;
					right: -30px;
					top: 50%;
					margin-top: -22px;

					background-image: url(/static/img/org.png);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: 100% 100%;

					box-sizing: content-box;
					box-shadow: inset 0 0 5px 0 black;
					cursor: pointer;
					transition: 0.2s ease;
				}
				cursor: pointer;
				*{
					cursor: pointer;
				}
				transition: 0.2s ease;
				&:hover{
					color: darken(#fff, 20%);
					&:after{
						//border-color: darken(white, 30%);
					}
				}
			}

// Меню
.header__checkbox{
	display: none;
}

.profile-menu{
	display: none;
	list-style: none;
	position: absolute;
	width: 62%;
	right: 0;
	top: 100%;
	background-color: white;
	border: 1px solid rgba(255, 255, 255, .2);
	border-radius: 4px;
	padding-top: 12px;
	box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04)
}
.header__checkbox:checked + .profile-menu{
	display: block;
}

.profile-menu__item{
	padding: 5px 10px;
	font-size: 16px;
	transition: 0.2s;
	color: #000;
	&:hover{
		background-color: rgba(0,0,0,.08);
	}
}