.info{
	font-size: 16px;
}

	.info__title{
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 10px;
		margin-top: 70px;
	}

	.info__item{
		&:nth-child(2){
			margin-bottom: 30px;
		}
		line-height: 2;
		b{
			margin-right: 10px;
			@media(max-width: 750px)
			{
				display: block;
			}
		}
	}

.info__subLabel{
	font-size: 24px;
	font-weight: normal;
	margin-top: 70px;
	text-align: center;
}

.info__req{
	font-size: 13px;
	color: silver;
	font-weight: normal;
	margin-top: 25px;
	margin-bottom: -25px;
}