.form{
	margin: 0 auto;
	width: 700px !important;
}

	.form__title{
		text-align: center;
		font-size: 24px;
		margin-top: 50px;
		margin-bottom: 30px;
	}

	.form__group{
		font-size: 16px;
		width: 100%;
		border: none;
		padding-left: 20px;
	}

		.form__legend{
			position: relative;
			margin-left: -20px;
			font-size: 20px;
			padding-top: 35px;
			margin-bottom: 35px;
		}

		.form__line{
			margin-bottom: 15px;
			&:before,
			&:after{
				content: '';
				display: table;
				clear: both;
			}
		}

			.form__span{
				float: left;
			}
				.form__span_desc{
					float: none;
					display: block;
					margin-bottom: 15px;
				}
				.form__span_branch{
					float: none;
					margin-right: 100px;
				}

			.form__field{
				float: right;
				width: 300px;
				border-radius: 2px;
				padding: 5px 15px;
				border: 1px solid #bfcbd9;
			}

				.form__field_count{
					width: 150px;

				}
				.form__field_units{
					width: 135px;
					margin-left: 15px;
				}

			.form__area{
				display: block;
				width: 100%;
				border-radius: 2px;
				padding: 5px 15px;
				border: 1px solid #bfcbd9;
				resize:	vertical;
				min-height: 150px;
			}

// Select
.md-select{
	font-size: 16px;
	display: inline-block;
	//margin: 10px 0 8px 0;
	padding-bottom: 0px;
	width: 180px;

	[type=button]{
		background: #fff;
		border-color: rgba(0, 0, 0, 0.12); 
		border-width: 0 0 1px 0;
		color: rgba(0, 0, 0, 0.73);
		cursor: default;
		display: block;
		line-height: 35px;
		padding: 2px 0 1px 16px;
		position: relative;
		text-align: left;
		text-shadow: none;
		width: 100%;
		border-radius: 2px;
		border: 1px solid #bfcbd9;
		z-index: 1;
		outline: none;
		overflow: hidden;


		&:focus, &:hover{
			background: rgba(0,0,0,0.1);
		}
		&:after{
			content: '\25be';
			float: right;
			padding-right: 16px;
		}
	}
	ul[role=listbox]{
		background-color: white;
		cursor: default;
		list-style: none;
		line-height: 26px;
		overflow: hidden;
		margin: 0;
		max-height: 0;
		position: absolute;
		padding: 0;
		transform: translateY(-50%);
		transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
		width: 180px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;

		li{
			height: 48px;
			margin: 0;
			padding: 10px 16px;
			outline: none;
			overflow: hidden;
			&:focus, &:hover, &.active{
				background: rgba(0,0,0,0.1);
			}
		}
	}

	&.active ul{
		max-height: 200px;
		overflow: auto;
		padding: 8px 0 16px 0px;
		z-index: 2;
		transition: all .2s ease
	}
}

.form__submit{
	margin-top: 90px;
	display: inline-block;
	@m: 15px;
	margin-left: @m;
	margin-right: @m;
	width: 210px;
	padding: 8px 15px;
	line-height: 1.5;
	text-align: center;
	border-radius: 2px;
	color: white;
	background-color: @mainColor;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
				0 3px 1px -2px rgba(0,0,0,.2),
				0 1px 5px 0 rgba(0,0,0,.12);
	cursor: pointer;
	font-size: 20px;
}

.form__files{
	margin-top: 25px;
}
	
	.form__flabel{
		font-size: 16px;
		display: inline-block;
		margin-right: 15px;
	}

	.form__addFile{
		
		display: inline-block;
		@m: 15px;
		margin-left: @m;
		margin-right: @m;
		padding: 5px 10px;
		line-height: 1.5;
		text-align: center;
		border-radius: 2px;
		color: white;
		background-color: @mainColor;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
					0 3px 1px -2px rgba(0,0,0,.2),
					0 1px 5px 0 rgba(0,0,0,.12);
		cursor: pointer;
		font-size: 16px;
	}