<template>
  <div class="container-fluid" id="gov">
    <header class="header">
      <div class="header__row">
        <router-link to="/" class="header__logo">
          <img src="static/img/logo.png" style="width: 100px;position: relative;top: -8px;" />
        </router-link>
        <div class="header__nav">
          <a href="#" class="header__link header__link_info">Информация для заказчиков</a>
          <label class="header__link header__link_profile">
            <input type="checkbox" class="header__checkbox">
            <ul class="profile-menu">
              <li class="profile-menu__item">
                <router-link to="/">На главную</router-link>
              </li>
              <li class="profile-menu__item">Настройки</li>
              <li class="profile-menu__item">Выйти</li>
            </ul>
            <span>{{store.user.org}}</span>
          </label>
        </div>
      </div>
    </header>

    <div class="newOrder">
      <router-link href="/govAdd" class="newOrder__btn">Создать новый заказ</router-link>
    </div>

    <div class="search">
      <i class="search__label icon">search</i>
      <input type="text" class="search__field" placeholder="Искать по моим заказам">
    </div>

    <div class="orders">
      <table class="orders__table" id="orders" v-if="purchases">
        <thead class="orders__title">
          <tr>
            <th>Название</th>
            <th>Номер заявки</th>
            <th>Период</th>
            <th>Отклики</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="orders__body">
          <tr class="orders__order" v-for="p in store.purchases" v-if="p.itemname">
            <td>{{p.itemname}}</td>
            <td>{{p.id}}</td>
            <td v-if="p.startdate && p.enddate">{{p.startdate}}-{{p.enddate}}</td>
            <td v-if="p.offers">{{p.offers.length}}</td>
            <td class="orders__more">
              <router-link :href="'orgAdd/' + purchase.id">Подробнее</router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import './less/gov/index.less';

export default {
  name: 'gov',
  props: ['purchases'],
  beforeMount() {
    this.store.updatePurchases();
  }
};
</script>
