<template>
  <div class="container-fluid" id="govAdd">
    <header class="header">
      <div class="header__row">
        <a class="header__logo" href="index.html"><img src="static/img/logo.png" style="width: 100px;position: relative;top: -8px;" /></a>
        <div class="header__nav">
          <label class="header__link header__link_profile">
            <input type="checkbox" class="header__checkbox">
            <ul class="profile-menu">
              <li class="profile-menu__item">
                <a href="index.html">На главную</a>
              </li>
              <li class="profile-menu__item">Настройки</li>
              <li class="profile-menu__item">Выйти</li>
            </ul>
            <span>{{user.org}}</span>
          </label>
        </div>
      </div>
    </header>

    <form id="target" class="form">
      <div class="form__title">Создание заявки</div>

      <fieldset class="form__group">
        <legend class="form__legend">Общая информация</legend>
        <div class="form__line">
          <span class="form__span form__span_branch">Отрасль</span>
          <!-- Custom select structure -->
          <div class="md-select">
            <label for="ul-id">
              <button type="button" class="ng-binding">Категории</button>
            </label>
            <ul role="listbox" id="ul-id" class="md-whiteframe-z1" aria-activedescendant="state2_AK" name="ul-id">
              <li role="option" id="state2_AK" class="ng-binding ng-scope" tabindex="-1" aria-selected="false">Строительство</li>
              <li role="option" id="state2_AR" class="ng-binding ng-scope" tabindex="-1" aria-selected="false">Автомобили</li>
              <li role="option" id="state2_AS" class="ng-binding ng-scope" tabindex="-1" aria-selected="false">Недвижимость</li>
              <li role="option" id="state2_AZ" class="ng-binding ng-scope" tabindex="-1" aria-selected="false">Полиграфия</li>
            </ul>
          </div>
          <!-- Custom select structure -->
        </div>
        <div class="form__line">
          <span class="form__span form__span_desc">Краткое описание</span>
          <textarea class="form__area" id="description"></textarea>
        </div>
      </fieldset>

      <fieldset class="form__group">
        <legend class="form__legend">Сведения о заказчике</legend>
        <div class="form__line">
          <span class="form__span">Полное наименование</span>
          <input type="text" class="form__field" id="name">
        </div>
        <div class="form__line">
          <span class="form__span">УНП</span>
          <input type="text" class="form__field" id="UNP">
        </div>
        <div class="form__line">
          <span class="form__span">Местоположение</span>
          <input type="text" class="form__field" id="place">
        </div>
        <div class="form__line">
          <span class="form__span">Контакты</span>
          <input type="text" class="form__field" id="contact">
        </div>
      </fieldset>

      <fieldset class="form__group">
        <legend class="form__legend">Информация о процедуре</legend>
        <div class="form__line">
          <span class="form__span">Дата размещения</span>
          <input type="text" class="form__field" id="startime">
        </div>
        <div class="form__line">
          <span class="form__span">Дата окончания</span>
          <input type="text" class="form__field" id="endtime">
        </div>
        <div class="form__line">
          <span class="form__span">Ориентировочная цена</span>
          <input type="text" class="form__field" id="estimatedprice">
        </div>
      </fieldset>

      <fieldset class="form__group">
        <legend class="form__legend">Предмет закупки</legend>
        <div class="form__line">
          <span class="form__span">Название</span>
          <input type="text" class="form__field" id="itemname">
        </div>
        <div class="form__line">
          <span class="form__span">Количество, объем</span>
          <!-- <input type="text" class="form__field form__field_units" placeholder="Ед.измерения"> -->
          <input type="text" class="form__field form__field_count" placeholder="Кол-во товара" id="quantity">
        </div>
        <div class="form__line">
          <span class="form__span">Место поставки</span>
          <input type="text" class="form__field" id="itemsupplyplace">
        </div>
        <div class="form__line">
          <span class="form__span">Код ОКРБ</span>
          <input type="text" class="form__field" id="okrdcode">
        </div>
      </fieldset>

      <div class="form__files">
        <div class="form__flabel">Дополнительные документы при необходимости</div>
        <button class="form__addFile">Прикрепить документы</button>
      </div>

      <div style="text-align: center;">
        <input type="submit" value="Создать заявку" class="form__submit">
      </div>

    </form>
  </div>
</template>

<script>
import './less/govAdd/index.less';
const $ = require('jquery');

$('#target').submit(function(event) {
  var object = {};
  event.preventDefault();

  $('.form__field').each(function() {
    object[this.id] = this.value;
  }, this);
  $.ajax({
    contentType: 'application/json',
    data: JSON.stringify(object),
    dataType: 'json',
    type: 'POST',
    async: false,
    url: '/api/v1/purchase'
  });
});

export default {
  name: 'gov-add'
};
</script>
