<template>
  <div class="container-fluid" id="index">
    <header class="header">
      <div class="header__row">
        <div class="header__logo">
          <img src="static/img/logo.png" style="width: 100px;position: relative;top: -8px;" />
        </div>
        <div class="header__nav">
          <a href="#about" class="header__link">О проекте</a>
          <a href="#features" class="header__link">Возможности</a>
          <a href="#advantages" class="header__link">Преимущества</a>
          <a href="#contacts" class="header__link">Контакты</a>
        </div>
      </div>
      <div class="header__row">
        <h1 class="header__title">Единый портал государственных закупок</h1>
        <div class="header__buttons">
          <router-link to="/gov" class="header__btn">
            <span class="header__btn-1">Заказчику</span>
            <span class="header__btn-2">Разместить заявку</span>
          </router-link>
          <router-link to="/org" class="header__btn">
            <span class="header__btn-1">Поставщику</span>
            <span class="header__btn-2">Участвовать в закупке</span>
          </router-link>
        </div>
      </div>
    </header>

    <div class="search">
      <i class="search__icon icon">search</i>
      <input type="text" class="search__field" placeholder="Название или номер закупки, ключевые слова">
    </div>

    <!--<div class="title" id="about">
    <h2>О нас</h2>
    </div>

    <div class="title" id="features">
      <h2>Возможности</h2>
    </div>

    <div class="title" id="advantages">
      <h2>Преимущества</h2>
    </div>

    <div class="title" id="contacts">
      <h2>Контакты</h2>
      </div>-->

    <div class="lastBids" v-if="s.purchases.length > 0">
      <h2 class="lastBids__title">Последние заявки</h2>
      <div class="lastBids__list" id="lastBids">
        <div class="lastBids__bid" v-for="i in 4" v-if="s.purchases[i].itemname.length > 0">
          <h4 class="lastBids__name">{{ s.purhcases[i].itemname }}</h4>
          <div class="lastBids__author">{{ s.purhcases[i].name }}</div>
          <div class="lastBids__price">{{ s.purhcases[i].estimatedprice }}</div>
          <router-link :to="'orgAdd/' + s.purhcases[i].id">
            <button class="mdl-button mdl-js-button mdl-button--primary lastBids__btn">Подробнее</button>
          </router-link>
        </div>
      </div>
    </div>

    <div class="allBids" v-if="s.purchases.length > 0">
      <h2 class="allBids__title">Все заявки</h2>
      <table class="allBids__list" id="allBids">
        <tr class="allBids__bid" v-for="purchase in s.purchases" v-if="purchase.itemname.length > 0">
          <td class="allBids__cell allBids__name">{{ purchase.itemname }}</td>
          <td class="allBids__cell allBids__author">{{ purchase.name }}</td>
          <td class="allBids__cell allBids__state">{{ purchase.contact }}</td>
          <td class="allBids__cell allBids__price">{{ purchase.estimatedprice }}</td>
          <td class="allBids__cell allBids__btn">
            <router-link :to="'orgAdd/' + purchase.id">Подробнее</router-link>
          </td>
        </tr>
      </table>
    </div>
    <div class="wait" v-else>
      <md-spinner :md-size="60" md-indeterminate></md-spinner>
    </div>
  </div>
</template>

<script>
import './less/index/index.less';

export default {
  name: 'home',
  props: ['store'],
  data: function() {
    return { s: this.store };
  },
  created() {
    this.s.updatePurchases();
    setInterval(this.s.updatePurchases.bind(this.s), 5000);
  }
};
</script>


