<template>
  <div class="container-fluid" id="org">

    <header class="header">
      <div class="header__row">
        <a class="header__logo" href="index.html"><img src="static/img/logo.png" style="width: 100px;position: relative;top: -8px;" /></a>
        <div class="header__nav">
          <a href="#" class="header__link header__link_info">Информация для поставщиков</a>
          <label class="header__link header__link_profile">
            <input type="checkbox" class="header__checkbox">
            <ul class="profile-menu">
              <li class="profile-menu__item">
                <a href="index.html">На главную</a>
              </li>
              <li class="profile-menu__item">Настройки</li>
              <li class="profile-menu__item">Выйти</li>
            </ul>
            <span>{{store.user.org}}</span>
          </label>
        </div>
      </div>
    </header>

    <div class="searchOrders">
      <h3 class="searchOrders__title">Поиск заявок</h3>
      <div class="searchOrders__btnGroup">
        <button class="searchOrders__btn">Мои заявки</button>
        <button class="searchOrders__btn">Одобренные</button>
        <button class="searchOrders__btn">Черновики</button>
        <button class="searchOrders__btn searchOrders__btn_notButton">Отклоненные</button>
      </div>
      <div class="search">
        <i class="search__label icon">search</i>
        <input type="text" class="search__field" placeholder="Найти заявку">
      </div>
      <div class="category">

        <!-- Custom select structure -->
        <div class="md-select">
          <label for="ul-id">
            <button type="button" class="ng-binding">Категории</button>
          </label>
          <ul role="listbox" id="ul-id" class="md-whiteframe-z1" aria-activedescendant="state2_AK" name="ul-id">
            <li role="option" id="state2_AK" class="ng-binding ng-scope" tabindex="-1" aria-selected="false">Строительство</li>
            <li role="option" id="state2_AR" class="ng-binding ng-scope" tabindex="-1" aria-selected="false">Автомобили</li>
            <li role="option" id="state2_AS" class="ng-binding ng-scope" tabindex="-1" aria-selected="false">Недвижимость</li>
            <li role="option" id="state2_AZ" class="ng-binding ng-scope" tabindex="-1" aria-selected="false">Полиграфия</li>
          </ul>
        </div>
        <!-- Custom select structure -->
        <input type="text" class="category__price" placeholder="Цена от">
        <input type="text" class="category__price" placeholder="Цена до">
      </div>
    </div>

    <div class="orders">
      <table class="orders__table" id="orders" v-if="store.purchases">
        <thead class="orders__title">
          <tr>
            <th>Название</th>
            <th>Номер заявки</th>
            <th>Период</th>
            <th>Отклики</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="orders__body">
          <tr class="orders__order" v-for="p in store.purchases" v-if="p.itemname">
            <td>{{p.itemname}}</td>
            <td>{{p.id}}</td>
            <td v-if="p.startdate && p.enddate">{{p.startdate}}-{{p.enddate}}</td>
            <td v-if="p.offers">{{p.offers.length}}</td>
            <td class="orders__more">
              <router-link :to="'orgAdd.html#' + purchase.id">Подробнее</router-link>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="wait" v-else>
        <md-spinner :md-size="60" md-indeterminate></md-spinner>
      </div>
    </div>
  </div>
</template>
<script>
import './less/org/index.less';
export default {
  name: 'org',
  props: ['store']
};
</script>
