<template>
  <div class="container-fluid" id="orgAdd">

    <header class="header">
      <div class="header__row">
        <a class="header__logo" href="index.html"><img src="static/img/logo.png" style="width: 100px;position: relative;top: -8px;" /></a>
        <div class="header__nav">
          <label class="header__link header__link_profile">
            <input type="checkbox" class="header__checkbox">
            <ul class="profile-menu">
              <li class="profile-menu__item">
                <a href="index.html">На главную</a>
              </li>
              <li class="profile-menu__item">Настройки</li>
              <li class="profile-menu__item">Выйти</li>
            </ul>
            <span>{{user.org}}</span>
          </label>
        </div>
      </div>
    </header>

    <form class="form">

      <div class="info" id="filled" v-if="purchase">
        <div class="info__title">{{ store.purchase.itemname }}</div>
        <div class="info__item">
          <b>Количестов, объем</b> {{store.purchase.quantity}}</div>
        <div class="info__item">
          <b>Закупка производит:</b> {{ store.purchase.name }}</div>
        <div class="info__item">
          <b>УНП:</b> {{ store.purchase.UPNP }}</div>
        <div class="info__item">
          <b>Код ОКРБ</b> {{store.purchase.okrdcode}}</div>

        <div class="info__item">
          <b>Местоположение заказчика:</b> {{ store.purchase.place }}</div>
        <div class="info__item">
          <b>Контакты:</b> {{store.purchase.contacts }}</div>
        <div class="info__item">
          <b>Дата размещения:</b> {{store.purchase.stardate}}</div>
        <div class="info__item">
          <b>Дата окончания:</b> {{store.purchase.endtime}}</div>
        <div class="info__item">
          <b>Бюджет:</b> {{store.purchase.estimatedprice}}</div>
      </div>
      <div class="wait" v-else>
        <md-spinner :md-size="60" md-indeterminate></md-spinner>
      </div>

      <h2 class="info__subLabel">Заполнить форму на участие в конкурсе</h2>
      <h5 class="info__req">* Все поля обязательны для заполнения</h5>

      <fieldset class="form__group">
        <legend class="form__legend">Сведения об участнике тендера</legend>
        <div class="form__line">
          <span class="form__span">Полное наименование организации</span>
          <input type="text" class="form__field">
        </div>
        <div class="form__line">
          <span class="form__span">УНП</span>
          <input type="text" class="form__field">
        </div>
        <div class="form__line">
          <span class="form__span">Местоположение</span>
          <input type="text" class="form__field">
        </div>
        <div class="form__line">
          <span class="form__span">Лицо</span>
          <input type="text" class="form__field">
        </div>
      </fieldset>

      <fieldset class="form__group">
        <legend class="form__legend">Сведения о товаре</legend>
        <div class="form__line">
          <span class="form__span">Название товара</span>
          <input type="text" class="form__field">
        </div>
        <div class="form__line">
          <span class="form__span">Краткое описание</span>
          <input type="text" class="form__field">
        </div>
        <div class="form__line">
          <span class="form__span">Количество, объем</span>
          <input type="text" class="form__field form__field_units" placeholder="Ед.измерения">
          <input type="text" class="form__field form__field_count" placeholder="Кол-во товара">
        </div>
        <div class="form__line">
          <span class="form__span">Сроки поставки</span>
          <input type="text" class="form__field">
        </div>
        <div class="form__line">
          <span class="form__span">Условия оплаты</span>
          <input type="text" class="form__field">
        </div>
        <div class="form__line">
          <span class="form__span">Сроки оплаты</span>
          <input type="text" class="form__field">
        </div>
        <div class="form__line">
          <span class="form__span">Стоимость предложения</span>
          <input type="text" class="form__field">
        </div>
        <div class="form__line">
          <span class="form__span">Срок действия предложения</span>
          <input type="text" class="form__field">
        </div>
      </fieldset>

      <div class="form__files">
        <div class="form__flabel form__lognText">Документы, подтверждающие соответствие участника требованиям к составу участников и при необходимости квалификационным данным участникам, иные документы</div>
        <button class="form__addFile">Прикрепить документы</button>
      </div>

      <div style="text-align: center;">
        <input type="button" value="Сохранить черновик" class="form__submit form__submit_temp">
        <input type="submit" value="Разместить заявку" class="form__submit">
      </div>

    </form>
  </div>
</template>
<script>
import './less/orgAdd/index.less';
export default {
  name: 'org-add',
  props: ['store'],
  created() {
    this.store.updatePurchaseInfo(this.purchaseId);
  }
};
</script>

