.orders{
	.width();
	margin-top: 50px;
}

	.orders__table{
		width: 100%;
		font-size: 16px;
		border-collapse: collapse;
		//border: 1px solid lighten(@mainColor, 20%);
		border-radius: 2px;
		text-align: center;
		td, th{
			padding: 12px 20px;
		}
		th:first-child,
		td:first-child{
			text-align: left;
		}
	}

		.orders__title{
			background-color: rgba(0, 0, 0, 0.02);
			box-shadow: 0 2px 2px 0 rgba(0,0,0,.04),
				0 3px 1px -2px rgba(0,0,0,.2),
				0 1px 5px 0 rgba(0,0,0,.02);
			tr{

			}
			th{
				padding: 20px 20px;
			}
		}

		.orders__body{

		}

			.orders__order{
				border-bottom: 1px solid lighten(@mainColor, 20%);;
			}

			.orders__more{
				a{
					display: inline-block;
					padding: 8px 15px;
					line-height: 1.5;
					text-align: center;
					border-radius: 2px;
					color: #5471d2;
					vertical-align: middle;
					font-size: 14px;
					line-height: 1;
					text-decoration: underline;
				}
			}