.searchOrders{

}

	.searchOrders__title{
		margin-top: 55px;
		margin-bottom: 40px;
		font-size: 20px;
		font-weight: normal;
		text-align: center;
	}

	.searchOrders__btnGroup{
		text-align: center;
	}

		.searchOrders__btn{
			font-size: 16px;
			display: inline-block;
			@m: 15px;
			margin-left: @m;
			margin-right: @m;
			width: 180px;
			padding: 8px 3px;
			line-height: 1;
			text-align: center;
			border-radius: 2px;
			color: white;
			background-color: @mainColor;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
						0 3px 1px -2px rgba(0,0,0,.2),
						0 1px 5px 0 rgba(0,0,0,.12);
			cursor: pointer;
		}

		.searchOrders__btn_notButton{
			color: @mainColor;
			background-color: transparent;
			box-shadow: none;
			text-decoration: underline;
		}