.allBids{
	text-align: center;
}

	.allBids__title{
		margin-top: 70px;
		margin-bottom: 40px;
		font-size: 26px;
		font-weight: normal;
		text-align: center;
	}

	.allBids__list{
		.width();
		@p: 15px;
		padding-left: @p;
		padding-right: @p;
	}

		.allBids__bid{
			position: relative;
			*{
				font-size: 16px;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

			.allBids__cell{
				padding: 12px 20px;
			}

			.allBids__name{
				font-weight: bold;
			}

			.allBids__author{
				
			}

			.allBids__state{
				white-space: nowrap;
			}

			.allBids__price{
				white-space: nowrap;
			}

			.allBids__btn{
				a{
					display: inline-block;
					@m: 15px;
					margin-left: @m;
					margin-right: @m;
					width: 210px;
					padding: 8px 15px;
					line-height: 1.5;
					text-align: center;
					border-radius: 2px;
					color: white;
					background-color: @mainColor;
					box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
								0 3px 1px -2px rgba(0,0,0,.2),
								0 1px 5px 0 rgba(0,0,0,.12);
					cursor: pointer;
				}
			}