.header{
	height: 600px;
	background-image: url(/static/img/header.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding-top: 42px;
	@media(max-width: 700px)
	{
		height: 500px;
	}
	@media(max-width: 560px)
	{
		height: 430px;
	}
	@media(max-width: 430px)
	{
		height: 490px;
	}
}

	.header__row{
		&:before,
		&:after{
			content: '';
			display: table;
			clear: both;
		}
	}

		.header__logo{
			float: left;
			margin-left: 80px;
			font-size: 20px;
			color: white;
			@media(max-width: 900px)
			{
				display: none;
			}
		}

		.header__nav{
			float: right;
			margin-right: 40px;
			@media(max-width: 320px)
			{
				float: none;
				display: block;
				text-align: center;
				margin: auto;
			}
		}

			.header__link{
				@p: 24px;
				padding-left: @p;
				padding-right: @p;
				font-size: 20px;
				color: white;
				@media(max-width: 700px)
				{
					display: block;
					margin-bottom: 15px;
				}
				@media(max-width: 560px)
				{
					font-size: 16px;
				}
			}

		.header__title{
			margin-top: 170px;
			font-size: 40px;
			text-align: center;
			letter-spacing: 1px;
			white-space: nowrap;
			font-weight: bold;
			color: white;
			@media(max-width: 900px)
			{
				font-size: 34px;
			}
			@media(max-width: 780px)
			{
				margin-top: 50px;
				margin-left: auto;
				margin-right: auto;
				white-space: normal;
				width: 80%;
			}
			@media(max-width: 560px)
			{
				margin-top: 30px;
				font-size: 30px;
			}
			@media(max-width: 560px)
			{
				margin-top: 30px;
				font-size: 26px;
			}
		}

		.header__buttons{
			margin-top: 50px;
			text-align: center;
			@media(max-width: 560px)
			{
				margin-top: 30px;
			}
			@media(max-width: 320px)
			{
				margin-top: 25px;
			}
		}

			.header__btn{
				display: inline-block;
				@m: 15px;
				margin-left: @m;
				margin-right: @m;
				width: 210px;
				padding: 8px 15px;
				line-height: 1.5;
				text-align: center;
				border-radius: 2px;
				color: white;
				background-color: @mainColor;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
							0 3px 1px -2px rgba(0,0,0,.2),
							0 1px 5px 0 rgba(0,0,0,.12);
				cursor: pointer;
				@media(max-width: 560px)
				{
					width: 180px;
					padding-left: 0;
					padding-right: 0;
					line-height: 1.2;
				}
				@media(max-width: 430px)
				{
					display: block;
					margin: auto;
					&:first-child{
						margin-bottom: 15px;
					}
				}
			}

				.header__btn-1{
					font-size: 16px;
					cursor: pointer;
				}

				.header__btn-2{
					display: block;
					font-size: 12px;
					cursor: pointer;
				}