.lastBids{
	text-align: center;
}

	.lastBids__title{
		margin-top: 70px;
		margin-bottom: 40px;
		font-size: 26px;
		font-weight: normal;
		text-align: center;
	}

	.lastBids__list{
		.width();
	}

		.lastBids__group{
			text-align: center;
			margin-bottom: 60px;
		}

			.lastBids__bid{
				display: inline-block;
				position: relative;
				vertical-align: top;
				margin-right: 80px;
				width: 240px;
				padding: 15px 15px 56px;
				border: 1px solid rgba(0, 0, 0, .2);
				border-radius: 2px;
				text-align: left;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				margin: 3%;
				box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
			}

				.lastBids__name{
					font-size: 18px;
					line-height: 1.2;
					font-weight: bold;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}

				.lastBids__author{
					margin-top: 10px;
					font-size: 14px;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}

				.lastBids__price{
					margin-top: 10px;
					font-size: 14px;
				}

				.lastBids__btn{
					position: absolute;
					left: 50%;
					bottom: 5px;
					margin-left: -60px;

					width: 120px;
					height: 36px;
					line-height: 36px;
					font-size: 14px;
					border-radius: 2px;
					font-weight: 500;
					text-align: center;
					text-transform: uppercase;
					color: @mainColor;
					transition: 0.2s ease;
					&:hover{
						background-color: rgba(158,158,158,.2);
					}
					&:active{
						background-color: rgba(158,158,158,.4);
					}
				}