.search{
	.width();
	padding: 0 80px;
	position: relative;
	margin-top: -26px;
	@media(max-width: 430px)
	{
		padding: 0;
		width: 90%;
	}
}

	.search__icon{
		font-size: 30px;
		position: absolute;
		top: 11px;
		left: 90px;
		color:fadeOut(#bfcbd9, 20%);
		@media(max-width: 430px)
		{
			left: 10px;
		}
	}

	.search__field{
		@color: #bfcbd9;
		width: 100%;
		font-size: 18px;
		padding: 15px 10px 15px 45px;
		border: 1px solid @color;
		color: @color;
		border-radius: 2px;
		@o: fadeOut(@color, 20%);
		&::-webkit-input-placeholder {color:@o;}
		&::-moz-placeholder          {color:@o;}
		&:-moz-placeholder           {color:@o;}
		&:-ms-input-placeholder      {color:@o;}

		&::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
		&::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
		&:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
		&:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
		&:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
		&:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
		&:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
		&:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

		@media(max-width: 430px)
		{
			font-size: 14px;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}