<template>
  <div id="app">
    <router-view></router-view>
    <footer class="footer">
      <span class="footer__copy">All rights reserved © 2017</span>
    </footer>
  </div>
</template>

<script>
import './components/less/base.less';
import './components/less/fonts.less';
import './components/less/reset.less';

export default {
  name: 'app'
};
</script>